<!DOCTYPE html>
<html lang='en-us'>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
  <body onload='
    document.getElementById("header").style.transform = "translateY(0)";
    document.getElementById("footer").style.transform = "translateY(0)";
    document.getElementById("intro-screen").style.opacity = 1;
    document.getElementById("header").classList.add("shadowed-text");
    setTimeout(()=>{
      document.getElementById("header").style.letterSpacing = "0.2rem";
      document.getElementById("footer-contents").style.transform = "scale(1.1)";
        setTimeout(()=>{
        document.getElementById("header").style.letterSpacing = "0.05rem";
        document.getElementById("header").style.color = "var(--main-text-color)";
        document.getElementById("footer").style.transform = "translateY(0)";
        document.getElementById("footer-contents").style.transform = "scale(1)";
        
      },400);
    },400)
  '>
  <audio preload='none' id='click-sound' src='https://pazaak.online/assets/sounds/click.wav'></audio>
  <audio preload='none' id='turn-sound' src='https://pazaak.online/assets/sounds/startturn.wav'></audio>
  <audio preload='none' id='draw-sound' src='https://pazaak.online/assets/sounds/drawcard.wav'></audio>
  <audio preload='none' id='win-sound' src='https://pazaak.online/assets/sounds/win.wav'></audio>
  <audio preload='none' id='lose-sound' src='https://pazaak.online/assets/sounds/lose.wav'></audio>
  <% if (htmlWebpackPlugin.options.appMountId) { %>
  <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
  <% } %>
  <link onload='console.warn("fonts loaded!")' href="https://fonts.googleapis.com/css?family=Bungee|Nova+Square" rel="stylesheet">
  <img onload='console.warn("sheet loaded!")' src='https://pazaak.online/assets/images/opponentssheet.jpg' style='display: none'/>
  <img onload='console.warn("player portrait loaded!")' src='https://pazaak.online/assets/images/playerportrait.jpg' style='display: none'/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


  </body>
</html>