<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link onload='console.warn("fonts loaded")' href="https://fonts.googleapis.com/css?family=Bungee|Nova+Square" rel="stylesheet">

  </head>
  <body onload='
    document.getElementById("header").style.transform = "none";
    document.getElementById("footer").style.transform = "none";
    document.getElementById("intro-screen").style.opacity = 1;
    document.getElementById("header").classList.add("shadowed-text");
    setTimeout(()=>{
      document.getElementById("header").style.letterSpacing = "0.2rem";
      document.getElementById("footer-contents").style.transform = "scale(1.1)";
        setTimeout(()=>{
        document.getElementById("header").style.letterSpacing = "0.05rem";
        document.getElementById("header").style.color = "var(--main-text-color)";
        document.getElementById("footer").style.transform = "none";
        document.getElementById("footer-contents").style.transform = "scale(1)";
      },400);
    },400)
    '>
    <img src='https://pazaak.online/assets/images/avatarsheet.jpg' style='display: none' />
    <img defer preload='none' src='https://pazaak.online/assets/images/opponentssheet.jpg' style='display: none' />
    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>
    <audio defer preload='none' id='click-sound' src='https://pazaak.online/assets/sounds/click.wav'></audio>
    <audio defer preload='none' id='turn-sound' src='https://pazaak.online/assets/sounds/startturn.wav'></audio>
    <audio defer preload='none' id='draw-sound' src='https://pazaak.online/assets/sounds/drawcard.wav'></audio>
    <audio defer preload='none' id='win-sound' src='https://pazaak.online/assets/sounds/win.wav'></audio>
    <audio defer preload='none' id='lose-sound' src='https://pazaak.online/assets/sounds/lose.wav'></audio>
  </body>
</html>