:root {
  --title-font: "Bungee";
  --main-font: "Nova Flat";
  --secondary-font: "Open Sans";
  --small-font-size: 2vh;
  --main-bg-color: rgb(107, 121, 138);
  --main-text-color: rgb(255, 247, 213);
  --option-on-color: rgb(94, 128, 94);
  --option-on-color: rgb(113, 151, 113);
  --option-off-color: rgb(151, 113, 113);
  --name-input-color: #ccc;
  --name-input-text-color: black;
  --trans-red-bg-color: rgba(255, 0, 0, 0.05);
  --trans-blue-bg-color: rgba(0, 0, 255, 0.05);
  --button-bg-color: black;
  --disabled-button-bg-color: #352222;
  
  --button-text-color: #5CB3FF;
  --special-button-text-color: #ffffa3;
  --button-border-color: #111;
  --button-text-size: calc(var(--normal-card-width) / 2.5);
  
  --green-move-color: rgba(7, 107, 12, 0.35);
  --yellow-move-color: rgba(89, 107, 7, 0.35);
  --red-move-color: rgba(107, 7, 7, 0.35);
  
  --red-bg-color: #560000;
  --medium-red-bg-color: #490000;
  --dark-red-bg-color: #380000;
  
  --card-text-color: #FFFFFF;
  --card-bg-color: #ccc;
  --house-card-color: #D3D300;
  --plus-card-color: #0C00B2;
  --minus-card-color: #A70003;
  --card-back-color: #ccc;
  --card-back-bg-color: grey;
  --card-back-border-color: #444;
  --card-spot-border-color: #999;
  --card-spot-bg-color: rgba(0, 0, 0, 0.05);
  /* --pulse-speed: 900ms; */
  
  --main-text-size: 1rem;
  --header-text-size: 1.2rem;
  
  --header-height: 7vh;
  --intro-width: 76vmin;
  
  /* --menu-border-width: 0.3rem; */
  --menu-border-width: calc(var(--normal-card-width) / 14);
  /* --button-border-width: 0.25rem; */
  --button-border-width: calc(var(--normal-card-width) / 15);
  /* --menu-border-radius: 0.5rem; */
  --menu-border-radius: calc(var(--normal-card-width) / 8);

  --control-footer-height: 11vh;
  --hamburger-height: calc(var(--control-footer-height) - (var(--menu-border-width) * 4));
  --inner-hamburger-height: calc(var(--hamburger-height) - var(--menu-border-width) * 2);
  --hamburger-bar-height: calc((var(--inner-hamburger-height) / 7));
  --hamburger-bar-color: var(--button-text-color);
  --hamburger-border-color: var(--button-border-color);

  /* --button-radius: 0.35rem; */
  --button-radius: calc(var(--normal-card-width) / 12);
  
  --menu-border: var(--menu-border-width) solid var(--dark-red-bg-color);
  
  /* --card-ratio: 1.6; */

  /* --normal-card-height: 13vh; */
  /* --normal-card-width: calc(var(--normal-card-height) / var(--card-ratio)); */
  
  --medium-card-height: calc(var(--normal-card-height) * 0.875);
  --medium-card-width: calc(var(--normal-card-width) * 0.875);
  
  --mini-card-height: calc(var(--normal-card-height) * 0.8);
  --mini-card-width: calc(var(--normal-card-width) * 0.8);
  
  --micro-card-height: calc(var(--normal-card-height) * 0.6);
  --micro-card-width: calc(var(--normal-card-width) * 0.6);
  
  --card-buffer-size: 0.5vw;

  --hamburger-off-state: translateX(100%);
}
@media screen
and (orientation: landscape) {
  :root {
    --min-width: 300px;
    --min-height: 400px;
  }
}
body {  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  margin: 0;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* min-width: var(--min-width); */
  background-color: black;
  font-family: var(--main-font);
  box-sizing: border-box;
  font-display: auto;
  overflow: auto;
}
#shade {
  position: fixed;
  width: 100vh;
  height: 100vh;
  /* height: calc(100vh - var(--header-height) - var(--control-footer-height)); */
  /* top: var(--header-height); */
  background: black;
  pointer-events: none;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease;
  /* will-change: opacity; */
}
#shade.shade-on {
  pointer-events: all;
  opacity: 0.5;
  
}
#container {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  /* max-height: 100vh; */
  justify-content: space-between;
  width: 100%;
  min-width: var(--min-width);
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
/* #container:fullscreen {
  width: 100%;
  height: 100%;
  background-color: rgb(84, 93, 84);
} */
::-webkit-scrollbar {
  width: 0rem;
  background-color: transparent;
}
.display-none {
  display: none !important;
}
.bigger {
  font-size: 1.25em !important;
  font-weight: bold !important;
}
.loading-message {
  width: 100%;
  text-align: center;
}
.loading-icon {
  height: calc(var(--header-height) * 2);
  width: calc(var(--header-height) * 2);
  animation: spin-x 1s infinite;
  margin-bottom: var(--header-height);
}
.modal-title {
  font-family: var(--title-font);
}
@keyframes spin-x {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes squeeze-x {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 1vw;
  }
  100% {
    letter-spacing: 0;
  }
}
.intro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 64vw; */
  border-radius: var(--button-radius);
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.green-text {
  color: green;
  font-size: 1.2em;
}
#intro-screen {
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 300ms ease, transform 300ms ease;
}
#mode-select-screen {
  opacity: 0;
  transform: scale(1.1);
  transition: transform 300ms ease, opacity 300ms ease;
}
#intro-screen-body {
  /* transform: scale(1.1);
  pointer-events: none;
  opacity: 0; */
}
#initial-loading-area {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* padding-bottom: var(--header-height); */
  /* background: green; */
}
.loading-event-text {
  margin: 1rem;
}
a {
  color: var(--main-text-color);
}
button {  
  font-family: var(--title-font);
  outline: 0;
  line-height: 100%;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  border: solid var(--button-border-color);
  border-width: var(--button-border-width);
}
.pressed-button {
  color: red !important;
  transform: scale(0.9);
  background: #444;
}
.shadowed-text {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
ul {
  list-style-type: none;
}
li:before {
  font-family: sans-serif;
  font-size: 1.5rem;
  content: '•';
  padding: 10px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.bullet {
  font-family: sans-serif;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.opponent-select-entry {
  box-sizing: border-box;
  margin-bottom: 0.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  border: 1px solid #333;
  border-radius: 0.5rem;
  display: flex;
  background-color: var(--trans-blue-bg-color);
  transform: scale(0.95);
  transition: transform 200ms ease;
  padding: 0.5rem;
  will-change: transform;
}
.left-opponent-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vmin 1fr auto;
  align-items: start;
  grid-row-gap: 2vmin;
  padding: 0.5rem;
}
.opponent-description {
  /* padding: 3vmin 2vmin; */
  width: 65%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
}
.opponent-quote {
  box-sizing: border-box;
  padding: 0.25rem;
  align-self: flex-start;
  max-width: 35vw;
  height: 100%;
}
.opponent-name-area {
  border: 1px solid #222;
  border-radius: 0.5rem;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: yellow;
}
.opponent-select-entry:nth-child(2n) {
  background-color: var(--trans-red-bg-color);
}
.panel-selected {
  background-color: var(--option-on-color) !important;
  transform: scale(1);
}
.opponent-select-entry:nth-last-child(1) {
  margin-bottom: 0;
}
.select-button {
  font-size: 1.1rem;
  align-self: end;
}
.disabled-select-button {
  color: green;
  pointer-events: none !important;
}
.select-button::before {
  content: "Select";
}
.disabled-select-button::before {
  content: "Selected";            
}
.left-side {
  min-width: 35vw;
  font-size: 5vw;
}
.opponent-stats-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.5fr 0.5fr auto;
  align-self: center;
  width: 100%;
  height: 100%;
  grid-row-gap: 2vw;
}
.opponent-prize-label, .skill-label {
  padding: 0.25rem;
  font-size: 1rem;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.opponent-prize-area {
  display: flex;
  flex-direction: column;
}
.opponent-prize-body {
  padding-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: 0.35vw solid rgb(67, 78, 67);
  border-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
  line-height: 100%;  
}
.opponent-prize-credits {
  font-family: var(--title-font);
  color: green;
}
.opponent-prize-cards {
  padding: 0.5rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.35vw solid rgb(67, 78, 67);
  border-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}
.opponent-prize-cards > .card {
  margin-right: 0.1rem;
}
.difficulty-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.difficulty-bar-body {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 0.35vw solid rgb(67, 78, 67);
  border-top: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.difficulty-bar-segment {
  position: relative;
  background-color: var(--option-off-color);
  width: 8.5%;
  height: 2rem;
  border: 0.35vw solid #111;
  border-left: 0;
  background-clip: padding-box;
  opacity: 0.5;
}
.difficulty-bar-segment:nth-child(1) {
  margin-left: 0;
  border-left: 0.35vw solid #111;
}
.difficulty-bar-segment:nth-last-child(1) {
  margin-right: 0;
}
.segment-filled {
  background-color: green;
  opacity: 1;
}
.opponent-strategy-area {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
}
.opponent-strategy-label, .opponent-prize-label, .skill-label {
  border-radius: 0.3rem 0.3rem 0 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 2vw;
  border: 0.35vw solid rgb(67, 78, 67);
  border-bottom: 0;
  align-self: flex-end;
}
.opponent-strategy-list {
  box-sizing: border-box;
  font-size: 0.9rem;
  border: 0.35vw solid rgb(67, 78, 67);
  border-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1vh 1.5vh 1vh 0;
  height : 100%;
}
.opponent-strategy-item {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}
/* 
.opponent-deck-preview {
  margin-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.opponent-deck-label {
  box-sizing: border-box;
  flex-grow: 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.opponent-deck-row {
  display: inline-flex;
}
.opponent-deck-row:nth-child(1) {
  margin-bottom: 0.5rem;
}
.opponent-deck-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
} */
.options-instructions-title {
  font-family: var(--title-font);
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 100%;
  width: 100vw;
  height: var(--control-footer-height);
  min-height: var(--control-footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: var(--trans-blue-bg-color);
}
#instructions-screen, #hall-of-fame-screen, #opponent-select-screen {

  /* for Firefox! */
  min-height: 0;
}
#instructions-screen, #options-screen, #mode-select-screen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: stretch;
  /* for Firefox! */
  /* min-height: 0; */
}
#instructions {
  font-family: var(--main-font);
  box-sizing: border-box;
  padding: 5vw;
  padding-top: 1rem;
  overflow-y: scroll;
  margin: 0;
}
.set-win-count {
  color: green;
}
.option-off {
  background-color: var(--option-off-color) !important;
}
.option-off::before {
  content: 'OFF';
}
.option-on {
  background-color: var(--option-on-color) !important;
}
.option-on::before {
  content: 'ON';
}
#options-back-button, #instructions-back-button {
  height: 75%;
  position: relative;
}
.footer-back-button {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  width: 60%;
  height: 65%;
}

#debug-display, #debug-touch-display {
  font-family: sans-serif;
  box-sizing: border-box;
  position: fixed;
  top: var(--header-height);
  font-size: 0.65rem !important;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  color: white;
  width: 100%;
  padding: 1rem;
  line-height: 140%;
  /* display: none; */
}
#debug-touch-display {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  top: var(--header-height);
  pointer-events: none;
  z-index: 12;
  display: block;
  overflow: scroll;
}
#header-container {
  opacity: 0;
}
.pre-header {
  height: var(--header-height);
  min-height: var(--header-height);
  font-size: 1.25rem;
  display: flex;
}
.pre-footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 32vw 1fr 32vw;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  min-width: var(--min-width);
  height: var(--control-footer-height);
  min-height: var(--control-footer-height);
  max-height: var(--control-footer-height);
  border-top: 1px solid black;
  background-color: var(--trans-blue-bg-color);
}
.ready-button {
  box-sizing: border-box;
  height: 75%;
  width: 100%;
  font-size: 1.5rem;
}
.opponent-portrait {
  position: relative;
  /* box-sizing: border-box; */
  border: 1px solid black;
  background-repeat: no-repeat;
}
.portrait-label {
  font-size: 1rem;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smaller {
  font-size: 0.6em;
}
#user-account-icon {
  opacity: 0;
}
.back-button {
  width: 50%;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.disabled-button {
  /* border-color: #555 !important; */
  background-color: var(--disabled-button-bg-color) !important;
  color: #666 !important;
  pointer-events: none !important;
  opacity: 0.9;
}
.hidden-button {
  display: none;
}
.no-pointer {
  pointer-events: none;
}
.card {
  font-family: var(--main-font);
  box-sizing: border-box;
  color: var(--card-back-color);
  background-color: var(--card-bg-color);
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* transition: all 150ms ease; */
  transform-origin: bottom;
  /* will-change: transform; */
  /* box-shadow: 1px 1px 5px #444; */
}
.highlighted-card {
  border: 3px solid var(--option-on-color) !important;
  transform: scale(1.1);
}
/* .user-info-panel-off {
  transform: translateY(-100%) !important;
}   */
.inner-band {
  pointer-events: none;
  border: 1px solid black;
  position: relative;
  /* width: 75%;
  height: 24%; */
  width: 80%;
  height: 30%;
  margin-top: 15%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.inner-band:nth-child(4) {
  border-bottom: 0;
  height: 22%;
}
.band-arrow-up, .band-arrow-up-bg, .band-arrow-down, .band-arrow-down-bg {
  pointer-events: none;
  width: 0; 
  height: 0;
}
.band-arrow-up {
  position: absolute;
  border-bottom-color: var(--card-back-color) !important;
}
.band-arrow-down {  
  position: absolute;
  border-top-color: var(--card-back-color) !important;
}
.corner-bubble {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  right: -10%;
  top: -35%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.no-corner-border {
  border-left: 0 none;
  border-bottom: 0 none;
}
.back-bubble {
  box-sizing: border-box;
  border-radius: 50%;
  transform: translateY(-60%);
}
.number-badge {
  pointer-events: none;
  width: 70%;
  height: 28%;
  top: 23%;
  background-color: black;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px inset var(--card-back-color);
}
.onscreen {
  transform: none !important;
  opacity: 1 !important;
}
.modal-on {
  transform: none !important;
  pointer-events: all !important;
  opacity: 1 !important;
}

@keyframes throb {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Desktop landscape */

@media screen 
  and (orientation: landscape)
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #container {
      /* max-width: 500px; */
    }
    button {
      min-width: 0 !important;
      min-height: 0 !important;
      max-height: none !important;
    }
    .intro-button {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      /* min-height: 12vh; */
      /* max-height: 12vh; */
      border-radius: 0.5rem;
      margin-top: 1vh;
      margin-bottom: 1vh;
    }
    #footer {
      position: relative !important;
      background: green;
      font-size: 1rem;
    }
    #intro-screen-body {
      /* max-width: 500px; */
    }
    body {
      /* box-sizing: border-box; */
      margin: 0 auto;
      position: absolute;
      /* display: flex;
      justify-content: center; */
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    
}