:root {
  --min-width: 300px;
  --max-width: 100vh;
  --main-opacity: 0;
  --header-height: 7vh;
  --header-height: 12vw;
  --intro-width: 76vw;
  --top-margin: var(--header-height);
  --inner-height: calc(100% - (var(--top-margin) + var(--control-footer-height)));
  --title-font: 'Bungee';
  --main-font: 'Nova Flat';
  --secondary-font: 'Open Sans';
  --small-font-size: 2vh;
  --small-med-font-size: 2.25vh;
  --medium-font-size: 3vh;
  --med-large-font-size: 4.5vh;
  --large-font-size: 6vh;
  --main-bg-color: transparent;
  --main-text-color: rgb(255, 247, 213);
  --option-on-color: rgb(94, 128, 94);
  --option-on-color: rgb(113, 151, 113);
  --option-off-color: rgb(151, 113, 113);
  --name-input-color: #ccc;
  --name-input-text-color: black;
  --trans-red-bg-color: rgba(255, 0, 0, 0.025);
  --trans-blue-bg-color: rgba(0, 0, 255, 0.025);
  --trans-black-bg-color: rgba(0, 0, 0, 0.1);
  --options-screen-width: 80vw;
  --hamburger-menu-width: calc(var(--normal-card-width) * 4);
  --button-bg-color: rgb(15, 14, 17);
  --disabled-button-bg-color: #312e2e;
  --button-text-color: #5cb3ff;
  --special-button-text-color: #e4c951;
  --special-button-text-color: #e4c951;
  --button-border-color: rgb(25, 24, 39);
  --button-text-size: calc(var(--normal-card-width) / 2.5);
  --green-move-color: rgba(7, 107, 12, 0.3);
  --yellow-move-color: rgba(89, 107, 7, 0.3);
  --red-move-color: rgba(107, 7, 7, 0.3);

  --red-bg-color: transparent;
  --medium-red-bg-color: transparent;
  --dark-red-bg-color: transparent;
  --card-bg-color: #ccc;
  --card-text-color: #ffffff;
  --house-card-color: #d3d300;
  --plus-card-color: #0c00b2;
  --minus-card-color: #a70003;
  --card-back-color: #ccc;
  --card-back-bg-color: gray;
  --card-border-color: black;
  --card-back-border-color: #444;
  --card-spot-border-color: #222;
  /* --card-spot-bg-color: rgba(0, 0, 0, 0.05); */
  --card-spot-bg-color: rgba(175, 169, 169, 0.1);
  --pulse-speed: 1200ms;
  --main-text-size: 1rem;
  --header-text-size: calc(var(--header-height) / 2.5);
  --menu-border-width: calc(var(--normal-card-width) / 14);
  --button-border-width: calc(var(--normal-card-width) / 15);
  --menu-border-radius: calc(var(--normal-card-width) / 8);
  --control-footer-height: 11vmax;
  --control-footer-padding: calc(var(--control-footer-height) / 20);
  --full-hamburger-height: calc(var(--control-footer-height) - (var(--menu-border-width)) - (var(--control-footer-height) / 10));
  --hamburger-height: var(--full-hamburger-height);
  --inner-hamburger-height: calc(var(--hamburger-height) - var(--menu-border-width) * 2);
  --hamburger-bar-height: calc((var(--inner-hamburger-height) / 7));
  --hamburger-bar-color: var(--button-text-color);
  --hamburger-border-color: var(--button-border-color);
  --button-radius: calc(var(--normal-card-width) / 12);
  --menu-border: var(--menu-border-width) solid var(--dark-red-bg-color);
  --inner-menu-border: 1px solid var(--dark-red-bg-color);
  --medium-card-height: calc(var(--normal-card-height) * 0.875);
  --medium-card-width: calc(var(--normal-card-width) * 0.875);
  --mini-card-height: calc(var(--normal-card-height) * 0.775);
  --mini-card-width: calc(var(--normal-card-width) * 0.775);
  --micro-card-height: calc(var(--normal-card-height) * 0.6);
  --micro-card-width: calc(var(--normal-card-width) * 0.6);
  --prize-card-height: calc(var(--normal-card-height) * 0.55);
  --prize-card-width: calc(var(--normal-card-width) * 0.55);
  --card-buffer-size: 0.5vw;
  --shift-duration: 400ms;
  --shift-duration-out: 300ms;
  --shift-distance: 5%;
  --starting-opacity: 0;
  --footer-retract-amount: calc(var(--control-footer-height) - var(--header-height));
  --footer-retracted-amount: calc(var(--control-footer-height) - var(--top-margin));
}

@media screen and (max-width: 360px) {
  :root {
    --large-font-size: 5vh;
    --header-text-size: calc(var(--header-height) / 3)
  }
}
video::-internal-media-controls-overlay-cast-button {
  display: none;
}

@media screen and (orientation: landscape) {
  :root {
    --min-width: 300px;
    --min-height: 400px;
  }
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  margin: 0;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: var(--main-font);
  box-sizing: border-box;
  font-display: auto;
  background-color: black;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: top center;
}

#starfield {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  top: var(--top-margin);  
  min-height: calc(var(--inner-height) + var(--footer-retract-amount));
  background-position: center;
  opacity: 0;
  transition: opacity 1000ms ease;
}
#container {
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  justify-content: center;
  width: 100%;
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 0;
  color: var(--main-text-color);
  transition: background-color 300ms ease;
}
#content-area {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: var(--top-margin);
  width: 100%;
  height: var(--inner-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#intro-screen-body {
  opacity: var(--main-opacity);
}
#shade {
  position: absolute;
  width: 100vh;
  height: 100vh;
  background: black;
  pointer-events: none;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity;
}
#shade.shade-on {
  pointer-events: all;
  opacity: 0.75;
}
.space-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.red-panel {
  box-sizing: border-box;
  background-color: var(--red-bg-color);
  border: var(--menu-border);
  border-radius: var(--menu-border-radius);
  padding: var(--menu-border-width);
}
.red-panel > .inner-red-panel {
  box-sizing: border-box;
  background-color: var(--medium-red-bg-color);
  border: var(--inner-menu-border);
  border-radius: var(--menu-border-width);
}
.inner-red-panel {
  box-sizing: border-box;
  background-color: var(--medium-red-bg-color);
  border: var(--inner-menu-border);
  border-radius: var(--menu-border-width);
}
::-webkit-scrollbar {
  width: 0rem;
  background-color: transparent;
}
.display-none {
  display: none !important;
}
.bigger {
  font-size: 1.25em !important;
  font-weight: bold !important;
}
.loading-message {
  width: 100%;
  text-align: center;
}
.loading-icon {
  height: calc(var(--header-height) * 2);
  width: calc(var(--header-height) * 2);
  animation: spin-x 1s infinite;
  margin-bottom: var(--header-height);
}
#initial-loading-icon {
  height: calc(var(--header-height) * 2);
  width: calc(var(--header-height) * 2);
  animation: spin-x 1s infinite;
}
.modal-title {
  font-family: var(--title-font);
}
@keyframes spin-x {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes squeeze-x {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 1vw;
  }
  100% {
    letter-spacing: 0;
  }
}
.green-text {
  color: green;
  font-size: 1.2em;
}
#initial-loading-area {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.loading-event-text {
  margin: 1rem;
}
a {
  color: var(--main-text-color);
}
button {
  font-family: var(--title-font);
  font-size: var(--button-text-size);
  outline: 0;
  line-height: 100%;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--button-radius);
  cursor: pointer;
  border: solid var(--button-border-color);
  border-width: var(--button-border-width);
  transition: background-color 210ms ease;
}
.pressed-button {
  color: red !important;
  transform: scale(0.9);
  background: #444;
}
.shadowed-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.shadowed-box {
  box-shadow: 0px 0px 3px 0px #111;
}
.bullet {
  font-family: sans-serif;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.options-instructions-title {
  text-align: center;
  font-family: var(--title-font);
  box-sizing: border-box;
  min-height: calc(var(--large-font-size) * 1.5);
  max-height: calc(var(--large-font-size) * 1.5);
  font-size: var(--large-font-size);
  line-height: 100%;
  width: 100vw;
  display: flex;          
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
#instructions-screen,
#hall-of-fame-screen,
#opponent-select-screen {
  /* for Firefox! */
  min-height: 0;
}
#instructions-screen,
#options-screen,
#mode-select-screen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.set-win-count {
  color: green;
}

.option-off {
  background-color: var(--option-off-color) !important;
}
.option-off::before {
  content: 'OFF';
}
.option-on {
  background-color: var(--option-on-color) !important;
}
.option-on::before {
  content: 'ON';
}
#options-back-button,
#instructions-back-button {
  height: 75%;
  position: relative;
}

#debug-display,
#debug-touch-display {
  font-family: sans-serif;
  box-sizing: border-box;
  position: fixed;
  top: var(--top-margin);
  font-size: 0.65rem !important;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  left: 0;
  color: white;
  width: 100%;
  padding: 1rem;
  line-height: 140%;
  /* display: none; */
}
#debug-touch-display {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  top: var(--top-margin);
  pointer-events: none;
  z-index: 12;
  display: block;
  overflow: scroll;
}
.pre-header {
  font-family: 'Bungee';
  line-height: 100%;

  min-height: calc(var(--large-font-size) * 1.5);
  max-height: calc(var(--large-font-size) * 1.5);

  font-size: var(--medium-font-size);
  display: flex;
}
.pre-footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 32vw 1fr 32vw;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  min-width: var(--min-width);
  height: var(--control-footer-height);
  min-height: var(--control-footer-height);
  max-height: var(--control-footer-height);
}
.ready-button {
  box-sizing: border-box;
  height: 75%;
  width: 100%;
  font-size: 1.5rem;
}
.opponent-portrait {
  position: relative;
  /* box-sizing: border-box; */
  border: 1px solid black;
  background-repeat: no-repeat;
}
.portrait-label {
  font-size: 1rem;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smaller {
  font-size: 0.6em;
}
#user-account-icon {
  opacity: 0;
}
.back-button {
  width: 50%;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.disabled-button {
  background-color: var(--dark-red-bg-color) !important;
  color: #666 !important;
  pointer-events: none !important;
  opacity: 0.9;
}
.hidden-button {
  display: none;
}
.no-pointer {
  pointer-events: none;
}
.card {
  font-family: var(--main-font);
  box-sizing: border-box;
  color: var(--card-back-color);
  background-color: var(--card-bg-color);
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.highlighted-card {
  outline: var(--card-buffer-size) solid var(--option-on-color) !important;
  transform: scale(1.1) !important;
  z-index: 12;
}
.inner-band {
  pointer-events: none;
  border: 1px solid black;
  position: relative;
  width: 80%;
  height: 30%;
  margin-top: 15%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.inner-band:nth-child(4) {
  border-bottom: 0;
  height: 22%;
}
.band-arrow-up,
.band-arrow-up-bg,
.band-arrow-down,
.band-arrow-down-bg {
  pointer-events: none;
  width: 0;
  height: 0;
}
.band-arrow-up {
  position: absolute;
  border-bottom-color: var(--card-back-color) !important;
}
.band-arrow-down {
  position: absolute;
  border-top-color: var(--card-back-color) !important;
}
.corner-bubble {
  box-sizing: border-box;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  right: -10%;
  top: -35%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.no-corner-border {
  border-left: 0 none;
  border-bottom: 0 none;
}
.back-bubble {
  box-sizing: border-box;
  border-radius: 50%;
  transform: translateY(-60%);
}
.number-badge {
  pointer-events: none;
  width: 70%;
  height: 28%;
  top: 23%;
  background-color: black;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px inset var(--card-back-color);
}
.onscreen {
  transform: none !important;
  opacity: 1 !important;
}
.modal-on {
  transform: scale(1) !important;
  pointer-events: all !important;
  opacity: 1 !important;
}
#save-icon {
  position: fixed;
  top: var(--header-height);
  right: 0;
  margin: var(--menu-border-width);
  color: rgb(171, 255, 144);
  z-index: 20;
  opacity: 0;
  transition: opacity 420ms ease;
}
#save-icon.showing {
  opacity: 1 !important;
  transition-duration: 150ms !important;
}

@keyframes throb {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.throbbing {
  animation: throb 1000ms infinite;
}

/* Desktop landscape */

@media screen and (orientation: landscape) and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  button {
    min-width: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
  }
  .intro-button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border-radius: 0.5rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  body {
    margin: 0 auto;
    position: absolute;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
